Package: com.rickye.randomlaunchtoggle
Name: RandomLaunchToggle
Depends: sbsettings
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome SBSettings toggle of some sort!!
Maintainer: Rickye
Author: Rickye
Section: Addons (SBSettings)